# SPDX-FileCopyrightText: 2025 Zextras <https://www.zextras.com>

/LICENSES/
/node_modules/
/dist/
/coverage/
/.vscode/
/.idea/
/.reuse/
/.husky/
/.git/
/.github/
.gitignore
.env
.DS_Store
.nvmrc
junit.xml
COPYING
LICENSE
THIRDPARTIES
README.md
.prettierignore
*.toml
*.properties
